/* @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* background-color: #0f1319; */
  background-color: rgb(14, 18, 23);
}
.bg-c {
  background-color: rgb(14, 18, 23);
}

a,
.a,
.a2,
.underline-a {
  display: inline-block;
  position: relative;
  padding-bottom: 0.3rem;
}
.a2,
.underline-a {
  display: inline-flex;
}
a:after,
.a:after,
a:visited,
.underline-a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after,
.a:hover:after,
.underline-a::after {
  width: 100%;
  left: 0;
}

body > * {
  background-color: rgb(14, 18, 23) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .Toastify__toast-container--top-right {
  --toastify-color-dark: #7362d150;
  opacity: 100;
} */

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer components {
  .text-main-gradient {
    /* @apply text-transparent bg-clip-text bg-gradient-to-br from-[#7362D1] to-[#618EB0]; */
    @apply text-white;
  }
  .bg-gradient {
    /* @apply bg-gradient-to-br from-[#7362D1] to-[#618EB0]; */
    @apply bg-gradient-to-br from-[#7362D1] to-[#618EB0];
  }
  .button-box {
    /* @apply m-0.5 mx-0.5 px-2 cursor-pointer border-cyan-500 rounded-sm  border hover:bg-cyan-500 hover:text-white; */
    @apply m-0.5 mx-0.5 px-2 py-[1px] cursor-pointer border-blue-500 rounded-sm  border hover:bg-blue-500 hover:text-white;
  }
}

@layer base {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #bcb8b8;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #b2b2b2;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
