@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbo";
  background-color: #0f1319;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .Toastify__toast-container--top-right {
  --toastify-color-dark: #7362d150;
  opacity: 100;
} */

@layer components {
  .text-main-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-[#7362D1] to-[#618EB0];
  }
  .bg-gradient {
    @apply bg-gradient-to-br from-[#7362D1] to-[#618EB0];
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
